    * {
        margin: 0px;
        padding: 0px;
    }
    

    .navbar-light .navbar-brand {
        font-size: 30px;
        color: #0b9033;
    }
    

    .navbar-light .navbar-nav .nav-link {
        color: #42cf29;
        font-size: 20px;
    }

    .navbar-light .navbar-toggler {
        border: 0;
    }
    

    .l-navbar {
        width: 60px;
        display: block;
        margin: 15x auto;
        border: 4px solid #dceb0d;
        padding: 6px 8px;
    }
    

    .l-navbar div {
        height: 5px;
        background: #0c0b0b;
        margin: 7px 0px 7px 0px;
        border-radius: 25px;
    }
    

    .line1 {
        width: 15px;
    }
    
    .line2 {
        width: 20px;
    }
    
    .line3 {
        width: 25px;
    }
    

    .dropdown:hover div {
        width: 30px;
        transition: 0.5s;
    }
    
    h2 {
        font-size: 24px;
    }
    

    .container {
        padding: 30px;
        background-color: rgb(125, 126, 194);
    }
    

    .contact {
        width: 350px;
    }

    .btn-primary {
        background-color: navy;
    }
    
    .footer {
        left: 0;
        bottom: 0;
        height: 20px;
        line-height: 18px;
        width: 100%;
        background-color: #172c41;
        color: white;
    }